body {
font-family: 'Raleway', sans-serif;	height: 100vh;
	background-image: url(../background.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: black;
}

.text-container{
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.modal-close{
    margin-bottom: 15px;
}

@media only screen and (max-width: 500px) {
	h1{
        font-size: 2.8rem !important;
    }
    h3{
        font-size: 2.3rem !important;
    }
    h5{
        font-size: 1.4rem !important;
    }
}