body {
font-family: 'Raleway', sans-serif;	height: 100vh;
	background-image: url(../background.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: black;
}

.text-container{
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;
}

.modal-close{
    margin-bottom: 15px;
}